*, *::before, *::after {
    box-sizing: border-box;
}

body,html {
    overflow-x: hidden;
    height: 100%;
}

main {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-top: 2.5rem;
    align-items: center;
}

#inputs {
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

input[type="text"], button {
    padding: 0.25rem 0.5rem;
}

#resultDiv {
    margin: 1rem;
}
