*, *::before, *::after {
    box-sizing: border-box;
}

body,html {
    overflow-x: hidden;
    height: 100%;
}

main {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#inputs {
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

input[type="text"], button {
    font-size: 0.6rem;
    padding: 0.25rem 0.5rem;
}

#resultDiv {
    margin: 1rem;
}

@media screen and (min-height: 200px) {
    html, body {
        overflow-y: hidden;
    }
}